.macro {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: grid;
    overflow: auto;
    gap: 1rem;
  }
  
  .macro li {
    display: flex;
    align-items: center;
    color: black;
    border: solid 2px black;
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
  }
  
  .macro p {
    max-width: none;
    font-weight: bold;
    margin: 0;
  }

  .macro-header{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: grid;
    overflow: auto;
    gap: 1rem;
  }
  
  .macro-thumb {
    overflow: hidden;
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    background-color: #e8e8e8;
    padding: .5em;
    margin-right: .5em;
  }
  
  .macro-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }

  